<header class="masthead">
  <div class="wrap">
    {% if site.logo %}
      <a href="{{ '/' | relative_url }}" class="site-logo" rel="home" title="{{ site.title }}">
        <img src="{{ site.logo | relative_url }}" class="site-logo-img animated fadeInDown" alt="{{ site.title }}">
      </a>
    {% endif %}
    {% assign page_image = page.image.path | default: page.image %}
    {% unless page_image %}
      {% if page.url == '/' %}
        <h1 class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
      {% else %}
        <div class="site-title animated fadeIn"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></div>
      {% endif %}
      <p class="site-description animated fadeIn" itemprop="description">{{ site.description }}</p>
      <a href="http://t.me/cleveragebot">
        <button type="button" class="btn btn--blue">
          <span class="btn__txt">telegram.me/cleveragebot</span>
          <i class="btn__bg" aria-hidden="true"></i>
          <i class="btn__bg" aria-hidden="true"></i>
          <i class="btn__bg" aria-hidden="true"></i>
          <i class="btn__bg" aria-hidden="true"></i>
        </button>
        <script>window.onload = function(){var widget_059ce209 = document.createElement('script');widget_059ce209.src='//dc-m.ru/api-widget?userID=2262&widgetID=059ce209';document.head.appendChild(widget_059ce209)};</script> 
      </a>
    {% endunless %}
  </div>
</header><!-- /.masthead -->
